p,h1{
  color: white;
}


body{
  background-image: url('img/noise.png');
  background-color: rgb(31, 7, 54);
}

.card{
  width: 18rem;
  text-align: center;
  gap: 1rem;
  background-color: rgb(31, 7, 54);
}

.contador{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.agregar{
  background-color: grey;
  color: white ;
  justify-content: center;
}

.operador{
  font-size: 1.5rem;
  color: black;
}

.container{
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.cardNoBorde{
  margin-top: 1rem;
  width: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

}

.itemdetail{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list{
  margin-top: 4rem;
}

.navbar{
  color: white;
  background-color: grey;
}

