p,h1{
  color: white;
}


body{
  background-image: url('img/noise.png');
  background-color: rgb(31, 7, 54);
}

.card{
  width: 18rem;
  text-align: center;
  gap: 1rem;
  background-color: rgb(31, 7, 54);
}

.contador{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.agregar{
  background-color: rgb(167, 165, 165);
  color: white ;
  justify-content: center;
}

.operador{
  font-size: 1.5rem;
  color: black;
}

.container{
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.cardNoBorde{
  margin-top: 1rem;
  width: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

}

.itemdetail{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  justify-content: center;
}

.list{
  margin-top: 4rem;
}

.navbar{
  color: white;
  background-color: grey;
}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.disabled{
  display: none;
}

.vacio{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 3rem;
}

.navbar{
  position:fixed;
  width: 100vw;
}

.flex-cont{
  width: 100%;
}

.img{
  width: 8rem;
}

.pad{
  padding-top: 6rem;
}

.boton{
  background-color: rgb(31, 7, 54);
  color: white;
  border: none;
}

.botones{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.botones-cart{
  background-color: rgb(31, 7, 54);
  color: white;
  padding: 1rem;
  border: 1px solid white;
}

.full{
  padding-top: 5rem;
  gap: 3rem;
  flex-direction: column;
}

.comprado{
  color: white;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:flex-end;
  color: white;
  gap:4 rem;
}

form >div{
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}

.id{
  margin-top: 2rem;
}